body {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    flex-direction: column;
}

#brickCanvas {
    background-color: black;
    border-top: 5px solid skyblue;
    border-left: 5px solid skyblue;
    border-right: 5px solid skyblue;
}

#restartButton {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
